@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-shadow: none !important;
        text-shadow: none !important;
        background-image: none !important;
    }

    button, .btn {
        border-radius: 0 !important;
        transition: background-color 0.2s;
    }

    input, select, textarea {
        border-radius: 0 !important;
        border: 1px solid #cbd5e1 !important;
    }
}
